<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body>
        <div id="mainContainer">

        <h1 class="petText">LOGIN</h1>

        {{#if error}}
        <div class="error"> Opps! Error! Try Again!  <br>
        {{errMessage}}</div>
        {{/if}}

        <form method="POST" class="form">
        <div>
            <input name="first" placeholder="First name">
            <input name="last" placeholder="Last name">
            <input name="email" placeholder="Email" required>
            <input name="password" type="password" placeholder="Password" required>
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="gimmeglitter">Login</button>

    </form>
</div>
    </body>
</html>
