<div id="mainContainer">
    <div class="petText">
    {{#if deleted}}
    SIGN ME BABY, ONE MORE TIME!
    {{else}}
        Demand that Merkel allows Britney to cover the Reichstag in glitter for an immersive art performance!
    {{/if}}
</div>
    <img src="/britney.webp">
    <img src="/reichstag.jpg" id="reichstag"><br>
    <form method="POST" class="form">
    <div><input name="first" placeholder="First name" value="{{firstName}}">
    <input name="last" placeholder="Last name" value="{{lastName}}"></div>
    <input id="sig" name="sig" type="hidden">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <canvas id="canv" width="400" height="75"></canvas>
    <button id="gimmeglitter">GIMME GLITTER!</button>

</form>

</div>
