<div id="mainContainer">
    <div class="petText">
    {{#if deleted}}
    SIGN ME BABY, ONE MORE TIME!
    {{else}}
        Demand that Ms Merkel allows Britney Spears to cover the Reichstag in glitter for an immersive art installation!
    {{/if}}
</div>
<div id="imgContainer">
    <img src="/britney.webp">
    <img src="/reichstag.jpg" id="reichstag"><br>
</div>
<div>
    <form method="POST" class="form">
    <div>Please sign below!</div>
    <input id="sig" name="sig" type="hidden">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <canvas id="canv" width="400" height="75"></canvas>
    <button id="gimmeglitter">GIMME GLITTER!</button>
    </form>
    <a href="/logout" target="_self"><button>Logout</button></a>

</div>

</div>
