<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
    </head>
    <body>
        <div id="mainContainer">

        <h1>PROFILE</h1>
        <h2>Hello {{firstName}} {{lastName}}</h2>
        <form method="POST" class="form">
        <div>
            <input name="age" placeholder="Your age" required>
            <input name="city" placeholder="City" required>
            <input name="homepage" placeholder="Homepage" required>
                    </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="profileContinue">Continue</button>

    </form>
</div>
    </body>
</html>
