<div id="mainContainer">
<div class="petText">THANK YOU!!!</div>
<img src="/britney.webp">
<img src="/thankyou.gif" id="reichstag">
<div style="display: flex; flex-direction: column;
align-items: center;"><h2 class="petText">Your signature</h2>
    <img style="width: 400px; height: 80px;" id="canv" src="{{signatureUrl}}">
</div>

<div><a href="/signers" target="_self">See all {{count}} signers!</a></div>

<div><a href="/profile/edit" target="_self">Edit your profile!</a></div>

<div>
    <form id="unsignPetition" method="post">
        <button id="gimmeglitter">Click here to wipe your signature off the face of the Earth</button>
        <input name="_csrf" value="{{csrfToken}}" type="hidden">

    </form>
    <a href="/logout" target="_self"><button>Logout</button></a>

</div>
</div>
