<div id="mainContainer">
<div class="petText">THANK YOU!!!</div>
<img src="britney.webp">
<img src="thankyou.gif" id="reichstag">
<div style="display: flex; flex-direction: column;
align-items: center;"><h2 class="petText">Your signature</h2>
    <img style="width: 400px; height: 80px;" src="{{signatureUrl}}">
</div>

<div><a href="/signers" target="_self">See all {{count}} signers!</a></div>

<div><a href="/profile/edit" target="_self">Edit your profile!</a></div>

</div>
