<div id="mainContainer">
<h2>WARNING!</h2>

The following pages contain sequences of glitter, flashing lights and former teenage pop stars, which may affect users who are susceptible to photosensitive epilepsy or other photosensitivities.

</div>

<a href="/petition" target="_self"><button>I'm ready!</button></a>
