<div id="mainContainer">
<h2>WARNING!</h2>

The following pages contain sequences of glitter, flashing lights and former teenage pop stars, which may affect users who are susceptible to photosensitive epilepsy or other photosensitivities.
<a href="/petition" target="_self"><button style="margin: 10px;">I'm ready!</button></a>

</div>
